<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ recipe.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ recipe.picture }}" alt="Photo of cocktail {{ recipe.name }}">
  <mat-card-content>
    <p>
      {{ recipe.description }}
    </p>

    <div *ngIf="isExpanded">
      <p>Ingredients needed:</p>
      <ul class="list" *ngFor="let ingredient of recipe.ingredients">
        <li>{{ingredient.name}}, quantity = {{ ingredient.quantity }}{{ingredient.unit}}</li>

      </ul>
    </div>
    <div *ngIf="isExpanded">
      <p>Prep Instructions:</p>
      <ul class=list *ngFor="let instruction of recipe.instructions | toArray">
        <li>{{instruction}}</li>
      </ul>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="showDetails()">{{ buttonText }}</button>
    <button mat-button (click)="delete()">Delete</button>
    <a mat-button routerLink="/recipes/{{ recipe.id }}">Voir mieux plus tavu</a>
  </mat-card-actions>

</mat-card>